* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #24272E;
  font-family: 'Lato', sans-serif;
  position: relative;
  padding-bottom: 3em;
  min-height: 100vh; }

.header {
  height: 12vh; }
  .header .nav-link {
    margin: 0px 20px; }
  .header .nav-link:hover {
    background-color: rgba(32, 69, 75, 0.309); }

.main .card {
  transition: transform 550ms; }
  .main .card:hover {
    transform: translateY(-8px); }

.main .card-body:hover {
  background-color: rgba(32, 69, 75, 0.309); }

.main .card-footer {
  margin-bottom: 10px; }
  .main .card-footer:hover {
    background-color: rgba(25, 85, 99, 0.309);
    border: #39af60 solid 1px;
    border-radius: 10px; }

.main .btn {
  height: 34px;
  line-height: 1; }

.container__Menu {
  padding-bottom: 20px; }

.container__separador {
  color: white;
  font-size: 20px;
  display: flex; }
  .container__separador :hover {
    color: #39af60; }

.productosMenu {
  display: flex;
  width: 300px; }

.divMapa {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 400px;
  border-radius: 15px; }
  .divMapa .divMapa iframe {
    display: flex;
    justify-content: center; }
  .divMapa .divMapa__iframe {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center; }

.boton:hover {
  background-color: #39af60; }

.footer {
  height: 10vh;
  position: absolute;
  bottom: 0;
  width: 100%; }
  .footer__links {
    display: flex;
    justify-content: center;
    list-style: none; }
  .footer__links li {
    display: inline-block; }
